<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<ul>
		<li>
	Name: Miguel Herías
		</li>
		<li>
	Occupation : Graphic Designer
		</li>
		<li>
	Contact Email: runecookie@gmail.com
		</li>
	</ul>
</body>
</html>